.root{
    -fx-font-family: "Gill Sans MT", Arial, sans-serif;

}

.campos-login{
    -fx-border-color: #C59423;
    -fx-border-radius: 7;
    -fx-background-radius : 7;
    -fx-border-width: 2;
    -fx-text-fill: #C59423;
    -fx-prompt-text-fill :  #063A25;
}
.fundo-login{
    -fx-background-color: linear-gradient( to left, #063A25 20%, #556B2F 80%);
}

.botao{
    -fx-background-color : #D4AF37 ;
    -fx-background-radius :  10;
    -fx-text-fill: #0C080D;
}

.botao:hover{

    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
    -fx-cursor: hand;
}
.menu{
    -fx-background-color : #3E451B;
}
.titulo{
    -fx-text-fill : #D4AF37;
    -fx-font-family: "Gill Sans MT";
    -fx-padding: 10 0 10 10 ;
}

.botao-menu{
    -fx-background-color :  transparent;
}

.botao-menu:hover{
    -fx-background-color: #E1CCE9 ;
    -fx-opacity: 1.5;
    -fx-effect: dropshadow(gaussian, #84DDFF, 5, 0.5,0,0);
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;

}

.texto-principal{
    -fx-text-fill :  #0C080D;
    -fx-font-family: "Gill Sans MT";
}

.fundo-estoque{
    -fx-background-color: #DBB2EB;
}

.fundo-bem-vindo{
    -fx-background-color: #84DDFF;

}

.fundo-produtosC{
    -fx-background-color: #84DDFF;
}


