.root{
    -fx-font-family: "Gill Sans MT", Arial, sans-serif;

}
/*Tela Login*/

.fundo-login{
    -fx-background-color: linear-gradient( to left, #063A25 20%, #556B2F 80%);
}

.campos-login{
    -fx-border-color: #C59423;
    -fx-border-radius: 7;
    -fx-background-radius : 7;
    -fx-border-width: 2;
    -fx-text-fill: #C59423;
    -fx-prompt-text-fill :  #063A25;
}

.botao-login{
    -fx-background-color : #D4AF37 ;
    -fx-background-radius :  10;
    -fx-text-fill: #0C080D;
}

/*hover ==  passar o mouse por cima*/
.botao:hover{

    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
    -fx-cursor: hand;
}

/*Tela Menu*/

.menu-opcoes{
    -fx-background-color: linear-gradient( to top, #0E3126 20%, #214A3E 80%);
}

.fundo-bem-vindo{
    -fx-background-color: linear-gradient( to top, #1E5B4F 20%, #1F355E   80%);
}


.titulo{
    -fx-text-fill : #D4AF37;
    -fx-font-family: "Gill Sans MT";
    -fx-padding: 10 0 10 10 ;
}

.texto-principal{
     -fx-text-fill :  #0C080D;
     -fx-font-family: "Gill Sans MT";
 }

.botao-menu{
    -fx-background-color :  transparent;
}

.botao-menu:hover{
    -fx-background-color: #1F355E ;
    -fx-opacity: 1.5;
    -fx-effect: dropshadow(gaussian, #0B3A2E, 5, 0.5,0,0);
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-cursor: hand;

}


/*Tela Estoque*/

.fundo-estoque{
    -fx-background-color: #1E5B4F;
}

.botao-adicionar-estoque:hover{

}

.botao-remover-estoque:hover{}


.botao-editar-estoque:hover{}

/*Tela Cadastro de  Produtos*/

.palavras-produtos{
    -fx-text-fill: #C59423;
}

.fundo-produtosC{
    -fx-background-color: linear-gradient( to left, #063A25 20%, #1E5B4F 80%);
}

.botoes-produtos:hover{
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
    -fx-cursor: hand;
}

.botao-salvar-produtos{

    -fx-background-color: #1E5B4F;

}

botão-cancelar-produtos:hover{

}

.campo-cadastro-produtos{

    -fx-border-color: #C59423;
    -fx-border-radius: 7;
    -fx-background-radius : 7;
    -fx-border-width: 2;
    -fx-text-fill: #C59423;
    -fx-prompt-text-fill :  #063A25;

}



/*Tela Relatório*/

.botao-voltar-relatorio:hover{

}


/*palavras em geral*/


.titulo-campos-Recuperar-senha{

    -fx-text-fill: #DDA959;
    -fx-font-size:22;

}


.palavras{

    -fx-font-size: 16;
    -fx-text-fill: #DDA959;

}
/*código*/

.codigo{
    -fx-text-fill: transparent;

}
.codigo:hover{
    -fx-text-fill: #DDA959;
}